body {
	padding: 0px;
	margin: 0px;
}

h1 {
	font-family: 'Big Caslon', 'Book Antiqua', 'Palatino Linotype', Georgia, serif;
	font-size: 39px;
	font-style: normal;
	font-variant: normal;
	font-weight: 500;
	line-height: 42.9000015258789px;
}

h3 {
	font-family: 'Big Caslon', 'Book Antiqua', 'Palatino Linotype', Georgia, serif;
	font-size: 25px;
	font-style: normal;
	font-variant: normal;
	font-weight: 500;
	line-height: 27.5px;
}

p.insideCellp {
	margin-top:0em;
	margin-bottom:0em;
	/*font-family: Calibri, Candara, Segoe, 'Segoe UI', Optima, Arial, sans-serif;*/
	/*font-family: Copperplate, 'Copperplate Gothic Light', fantasy;*/
	font-family: Palatino, 'Palatino Linotype', 'Palatino LT STD', 'Book Antiqua', Georgia, serif;
	font-size: 24px;
	color: #ffffff;
	line-height: 30px;
}

p.subTitle {
	font-family: 'Calisto MT', 'Bookman Old Style', Bookman, 'Goudy Old Style', 
		Garamond, 'Hoefler Text', 'Bitstream Charter', Georgia, serif;
	margin-top: 2em;
	margin-bottom: 1.2em;
	font-size: 24px;
	color: #000000;
}

p.subTitle.aboutme {
	margin-top: 2em;
}

p.subTitle.links {
	margin-top: 2em;
	margin-bottom: 1.8em;
}

p.subTitle.other {
	margin-top: 1.7em;
}
p#myName {
	font-family: 'Big Caslon', 'Book Antiqua', 'Palatino Linotype', Georgia, serif;
	font-size: 65px;
	font-style: normal;
	font-variant: normal;
	font-weight: normal;
	line-height: 70px;
	margin-top: 0.3em;
	margin-bottom: 0em;
}

p.progressBarFont {
	font-family: 'Big Caslon', 'Book Antiqua', 'Palatino Linotype', Georgia, serif;
	font-size: 18px;
	font-style: normal;
	font-variant: normal;
	font-weight: normal;
	margin-bottom: 0.4em;
	margin-top: 0.4em;
	width: 200px;
}

p#descriptive {
	font-family: Consolas, monaco, monospace;
	font-size: 22px;
	line-height: 10px;
	margin-bottom: 2em;
}

div#nameDiv {
	text-align: center;
	margin: 50px;
}	

div#descriptDiv {
	text-align: center;
	
	height: 35px;
	width: 100%;
	top: 110px;
}

div#marqueeDiv {
	
	height: 40px;
	width: 100%;
	top: 140px;
}

div#maintanenceDiv {
	text-align: center;
	height: 20%;
	width: 100%;
	top: 60%;
}

div#buttonsDiv {
	height: 40px;
	width: 100%;
	top: 33%;
}

div.emptyDiv {
	width: 100%;
	height: 30px;
}

button.greeting {
	height: 30px;
	width: 12%;
	font-family: Calibri, Candara, Segoe, 'Segoe UI', Optima, Arial, sans-serif;
	font-size: 16px;
	margin-top: 10px;
	margin-right: 10px;
	margin-left: 10px;
}

div#topbar {
	position: fixed;
	background-color: #191970;
	width: 100%;
	overflow-y: auto;
	top: 0;
	left: 0;
}

div.topbarCell {
	text-align: center;
	height: 30px;
	width: 12%;
	position: relative;
	display: inline-block;
}

div.socialLogoDiv {
	display: table;
	margin: auto;
	vertical-align: middle;
	overflow: hidden;
}

div.otherContacts {
	/*position: absolute;
	right: 0;*/
	text-align: center;
	/*width: 50%;
	top: 100%;*/
}

ul.insideTopBar {
	display: inline-block;
	width: 100%;
	padding: 0;
	margin: 0;
}

li.topBar {
	display: inline-block;
	text-align: center;
	width: 12%;
	margin-left: 0px;
	margin-right: 0px;
	margin-top: 0px;
	margin-bottom: 0px;
}

p.mat {
	line-height: 40px;
	margin-top: 0.4em;
	margin-bottom: 0.4em;
	font-family: Garamond, Baskerville, 'Baskerville Old Face', 'Hoefler Text', 'Times New Roman', serif;
	font-size: 23px;
}

ul.additionalNotes li p, p.selfIntro {
	font-family: 'Calisto MT', 'Bookman Old Style', Bookman, 'Goudy Old Style', 
		Garamond, 'Hoefler Text', 'Bitstream Charter', Georgia, serif;
		padding-left: 18%;
		padding-right: 18%;
		text-align: left;
	margin-top:1.4em;
	margin-bottom: 1.4em;
	font-size: 16px;
	color: #000000;
}

ul.additionalNotes {
	list-style-type: none;
}

p.mainTitle {
	font-family: 'Calisto MT', 'Bookman Old Style', Bookman, 'Goudy Old Style', 
		Garamond, 'Hoefler Text', 'Bitstream Charter', Georgia, serif;
		margin-top: 2em;
		margin-bottom: 0.8em;
		font-size: 30px;
		text-align: middle;
}

p.otherContPara {
	font-family: 'Calisto MT', 'Bookman Old Style', Bookman, 'Goudy Old Style', 
		Garamond, 'Hoefler Text', 'Bitstream Charter', Georgia, serif;
		margin-top: 0.3em;
		margin-bottom: 0.8em;
		font-size: 19px;
		text-align: middle;
}

p.otherContPara img {
	height: 1em;
}

div.emailPhone {
	text-align: left;
	margin-left: 25%;
}

div.profileDiv {
	width: 100%;
	background-color: #fff0f5;
	display: block;
	float: left;
}

div.aboutme {
	width: 50%;
	float: left;
	overflow: hidden;
	background-color: rgba(0,0,0,0);
}

div.contactsDiv {
	width: 50%;
	float: left;
	overflow: hidden;
	background-color: rgba(0,0,0,0);
}

div.technicalDiv {
	width: 100%;
	display: inline-block;
	background-color: rgb(253,251,239);
}

div.experienceDiv {
	width: 100%;
	height: 70%;
	display: inline-block;
	background-color: #f0fff0;
}

div.projectsDiv {
	width:100%;
	height: 70%;
	display: inline-block;
	background-color: #e0ffff;
}

div.educationDiv {
	width: 100%;
	height: 70%;
	display: inline-block;
	background-color: #ffddff;
}

div.box.hidden {
	visibility: hidden;
	position: absolute;
	top: 0px;
	right: 0px;
}

div.subheader {
	width:100%;
	text-align: middle;
	background-color: rgba(0,0,0,0);
	font-family: 'Calisto MT', 'Bookman Old Style', Bookman, 'Goudy Old Style', 
		Garamond, 'Hoefler Text', 'Bitstream Charter', Georgia, serif;
		font-size: 30px;
}

div.insideAboutMe {
	margin: 0 auto;
}

div.firstCol {
	width: 50%;
	float: left;
	text-align: middle;
}

div.secondCol {
	width: 50%;
	float: left;
	text-align: middle;
}

a {
	outline: 0;
}

a.insideCell {
	color: #ffffff;
	text-decoration: none;
	transition: 1s;
}

a.insideCell:hover {
	text-decoration: overline;
}

#insideCell2:hover {
	color: #ff00ff;
}

#insideCell1:hover {
	color: #00ff00;
}

#insideCell3:hover {
	color: #0000ff;
}

#insideCell4:hover {
	color: #ff0000;
}

#insideCell5:hover {
	color: #00ffff;
}

#insideCell6:hover {
	color: #ffff00;
}

#insideCell7:hover {
	color: #8a2be2;
}

#insideCell8:hover {
	color: #adff2f;
}

a.specialLink {
	color: #ffffff;
	text-decoration: none;
	cursor: text;
	transition: 1s;
}

a.specialLink:hover {
	color: #ffffff;
	text-decoration: overline;
	cursor: text;
}

button {
	border-radius: 2px;
}

button:hover {
	opacity: 0.4;
	transition: 1s;
	font-family: Garamond, Baskerville, 'Baskerville Old Face', 'Hoefler Text', 'Times New Roman', serif;
}

span {
	display: table;
	margin: 0 auto;
}

div.ssspecial {
	visibility: hidden;
	height: 25px;
	width:25px;
}

div.projectsCard {

}

div.zOne {
	z-index: 100;
	position: relative;
}

div.zTwo {
	z-index: 200;
	position: relative;
}

table.logoTable {
	padding: 0px;
	margin: 0px;
	border-collapse: collapse;
}



table.logoTable td {
	padding: 0px;
	margin: 0px;
	border: 0px;
}

img {
	padding: 0px;
	margin: 0px;
	border: 0px;
}

hr {
	width: 50%;
}

progress {
	appearance: none;
	-moz-appearance: none;
	-webkit-appearance: none;

	color: cyan;
	background: #ffffff;
    background-color: #ffffff;
    border: 1px solid #eeeeee;
    height: 18px;
    width: 300px;
}

progress::-webkit-progress-bar {
    background: #ffffff;
}

progress::-webkit-progress-value {
	background: cyan;
}

progress::-moz-progress-bar { 
    background: cyan;	
}