body {
	padding: 0px;
	margin: 0px;
	font-family: 'Big Caslon', 'Book Antiqua', 'Palatino Linotype', Georgia, serif;
	font-size: 18px;
}

h1 {
	font-family: 'Big Caslon', 'Book Antiqua', 'Palatino Linotype', Georgia, serif;
	font-size: 39px;
	font-style: normal;
	font-variant: normal;
	font-weight: 500;
	line-height: 42.9000015258789px;
}

h3 {
	font-family: 'Big Caslon', 'Book Antiqua', 'Palatino Linotype', Georgia, serif;
	font-size: 25px;
	font-style: normal;
	font-variant: normal;
	font-weight: 500;
	line-height: 27.5px;
}

button.greeting {
	height: 30px;
	width: 12%;
	font-family: Calibri, Candara, Segoe, 'Segoe UI', Optima, Arial, sans-serif;
	font-size: 16px;
	margin-top: 10px;
	margin-right: 10px;
	margin-left: 10px;
}

nav.navMenu {
	width: 100%;
	margin: 0px auto;
}

nav.navMenu li {
	list-style: none;
}

nav.navMenu a {
	transition: all linear 0.15s;
}
/* top level */
nav.navMenu > ul > li a {

}

span {
	display: table;
	margin: 0 auto;
}

table.logoTable {
	padding: 0px;
	margin: 0px;
	border-collapse: collapse;
}



table.logoTable td {
	padding: 0px;
	margin: 0px;
	border: 0px;
}

img {
	padding: 0px;
	margin: 0px;
	border: 0px;
}

hr {
	width: 50%;
	margin: 0px auto;
}

hr.insideCellHR {
	width: 80%;
}

progress {
	appearance: none;
	-moz-appearance: none;
	-webkit-appearance: none;

	color: cyan;
	background: #ffffff;
    background-color: #ffffff;
    border: 1px solid #eeeeee;
    height: 18px;
    width: 300px;
}

progress::-webkit-progress-bar {
    background: #ffffff;
}

progress::-webkit-progress-value {
	background: cyan;
}

progress::-moz-progress-bar { 
    background: cyan;	
}

textarea {
	margin-top: 50px;
	width: 60%;
	height: 200px;
	margin-bottom: 10px; 
}

input[type=submit], [type=reset], button {
	/* style the submit button of the text field here. */
	width: 10%;
	height: 30px;
	margin-top: 0px;
	margin-bottom: 0px;
	margin-left: 0px;
	margin-right: 0px;
	font-family: 'Big Caslon', 'Book Antiqua', serif;
	border: 0px;
	outline: 0;
	background: #88ffff;
	float: left;
}

input[type=submit]:hover, input[type=reset]:hover, button:hover {
	background: #33ffff;
	transition: 0.5s;
}

::-moz-focus-inner {
  border: 0;
}

.underlineButton {
	text-decoration: underline;
	color: #ffff00;
}

.underlinedTxt {
	text-decoration: underline;
}

.classesProgress td img {
	width: 60%;
	margin-right: 20%;
	margin-left: 20%;
}

.classesProgress tr {
	margin-top: 20px;
	margin-bottom: 20px;
}