ul.additionalNotes {
	list-style-type: none;
}

ul.subMenu {
	z-index: -1;
	opacity: 0;
	transition: opacity linear 0.20s;
	position: absolute;
	top: 100%;
	width: 12%;
	box-shadow:0px 2px 3px rgba(0,0,0,0.2);
    background:#383870;
    padding:0px 0px;
}

li.topBar:hover {
	background: #303050;
	transition: linear 1s;
}

.navMenu li:hover ul {
	z-index: 1;
	opacity: 1;
}

a {
	outline: 0;
}

a.insideCell {
	color: #ffffff;
	text-decoration: none;
	transition: 1s;
}

a.insideCell:hover {
	text-decoration: overline;
}

a.emptyLink {
	cursor: text;
}

a.emptyLink:hover {
	cursor: text;
}

#insideCell2:hover {
	color: #ff00ff;
}

#insideCell1:hover {
	color: #00ff00;
}

#insideCell3:hover {
	color: #0000ff;
}

#insideCell4:hover {
	color: #ff0000;
}

#insideCell5:hover {
	color: #00ffff;
}

#insideCell6:hover {
	color: #ffff00;
}

#insideCell7:hover {
	color: #8a2be2;
}

#insideCell8:hover {
	color: #adff2f;
}

a.specialLink {
	color: #ffffff;
	text-decoration: none;
	cursor: text;
	transition: 1s;
}

a.specialLink:hover {
	color: #ffffff;
	text-decoration: overline;
	cursor: text;
}

a.dropdown1:hover {
	color: #77ff77;
	transition: 1s;
}

a.dropdown2:hover {
	color: #ff77ff;
	transition: 1s;
}

a.dropdown3:hover {
	color: #7777ff;
	transition: 1s;
}

a.dropdown4:hover {
	color: #ff7777;
	transition: 1s;
}

a.dropdown5:hover {
	color: #77ffff;
	transition: 1s;
}

a.dropdown6:hover {
	color: #ffff77;
	transition: 1s;
}

a.dropdownExtra:hover {
	color: #bc94f1;
	transition: 1s;
}

.sub-menu li a:hover {
    background:#191970;
}

ul.insideTopBar {
	display: inline-block;
	width: 100%;
	padding: 0;
	margin: 0;
}

ul.insideTopBar:after {
	display: block;
	clear: both;
}

li.topBar {
	display: inline-block;
	text-align: center;
	width: 12%;
	margin-left: 0px;
	margin-right: 0px;
	margin-top: 0px;
	margin-bottom: 0px;
}

.subMenu li:hover a, {
	text-decoration: none;
}

.subMenu li a {
	text-decoration: none;
	color: #ffffff;
}

.subMenu li:hover {
	background: #252585;
	transition: linear 1s;
}

.subMenu li {
	margin-top: 0px;
	margin-bottom: 0px;
	padding-top: 10px;
	padding-bottom: 10px;
}